.box {
	background: chocolate;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 10px auto 0;
	animation: 2s hover infinite ease-in-out alternate;

	font-size: 2em;
	color: white;
	text-align: center;
	padding: .2em;
	font-family: sans-serif;
}

.shadow-box {
	background: chocolate;
	position: absolute;
	left: 35px;
	right: 35px;
	bottom: 0;
	height: 5px;
	box-shadow: 0 70px 20px 5px rgba(0, 0, 0, 0.12);
	animation: 2s hover infinite ease-in-out alternate, 2s shadow infinite ease-in-out alternate;
}


@keyframes hover {
	0% {
		transform: translateY(5%);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes shadow {
	0% {
		left: 20px;
		right: 20px;
		box-shadow: 0 60px 15px 5px rgba(0, 0, 0, 0.1);
	}
	100% {
		left: 35px;
		right: 35px;
		box-shadow: 0 70px 20px 5px rgba(0, 0, 0, 0.12);
	}
}


