.box {
	background: chocolate;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 10px auto 0;
	animation: 4s hover infinite ease-in-out;
}

.shadow-box {
	background: chocolate;
	position: absolute;
	left: 35px;
	right: 35px;
	bottom: 0;
	height: 5px;
	box-shadow: 0 70px 20px 5px rgba(0, 0, 0, 0.12);
	animation: 4s hover infinite ease-in-out, 4s shadow infinite ease-in-out;
}


@keyframes hover {
	0% {
		transform: translateY(5%);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(5%);
	}
}

@keyframes shadow {
	0% {
		left: 20px;
		right: 20px;
		box-shadow: 0 60px 15px 5px rgba(0, 0, 0, 0.1);
	}
	50% {
		left: 35px;
		right: 35px;
		box-shadow: 0 70px 20px 5px rgba(0, 0, 0, 0.12);
	}
	100% {
		left: 20px;
		right: 20px;
		box-shadow: 0 60px 15px 5px rgba(0, 0, 0, 0.1);
	}
}


